[flake8]
max-line-length = 120
exclude = migrations/, .git, __pycache__, .venv, node_modules, .github, server/populate.py
ignore = E501, W293, W292, W291, E231, E117, E303, E261, E302, E275, E712, W605

